body {
    background: url(../background/1_20241028_230628_0000.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 91%;
    background-color: maroon;
}
.student {
font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 15%;
    color: black;
    border-radius: 40px;
    text-align: center;
    background-color: rgb(224, 192, 109);
}
.admin {
font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    position: absolute;
    top: 55%;
    left: 15%;
    color: black;
    border-radius: 40px;
    text-align: center;
    background-color: rgb(224, 192, 109);
}